.menu-list {
  padding: 10px;
  margin: 5px 0px;
  list-style-type: none;
  display: flex;
  background-color: #303030;
  position: sticky;
  top: 5px;
  z-index: 5;
}

.menu-list li {
  padding: 5px 10px;
  font-size: 16px;
}

.menu-list li .link {
  color: whitesmoke;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-list li .link:hover {
  color: #303030;
  background-color: whitesmoke;
}

.menu-list li .link.active {
  color: lightgreen;
}

@media (max-width: 420px) {
  .menu-list li {
    font-size: 14px;
  }

  .menu-list li,
  .menu-list li span {
    padding: 5px 5px;
  }
}
