.imageList {
  padding: 10px;
  display: grid;
  /* this is the width of the columns, not the width of the image */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  /* creates additional rows automatically, 10px height each */
  grid-auto-rows: 10px;
  gap: 0px 10px;
}

/* just to visualize row and column size */
/* intersting to see how row gaps are actually created */
/* .image-card {
  border: 1px solid black;
} */

.imageList img {
  width: 250px;
  height: auto;
}
